/* Navigation styles */
body {
    margin: 0px;
}
nav {
    width: 95%;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: flex-start;
    justify-content: space-between;
    position: fixed;
}

.text1 p {
    color:white;
    width: 90%;
}

.right {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    }

.left a {
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.right a {
    color:white;
    font-family: 'Ropa Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;

}



/* Column styles */


.column {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
.meal2, .meal1_content, .meal4 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    

}
.Footer {
    width: 100%;
    height: 450px;
    background-color:#0F0F0F;
    color: white;

}

.Footer h1 {
    padding-top: 60px;
}

.Footer_content {
    width: 90%;
    position: relative;
    margin-left: 5%;
    background-color: #0F0F0F;  

}

.Footer_stuff {
    margin-top: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.meal3 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/Project2.png);
    transition: background-image 0.5s ease-in-out;

    }

p2 {
    font-size: 17;
    font-family: 'Ropa Sans', sans-serif;
}
    
.meal2 {
    background-image: url(../images/background-project-1@1x.jpg);
    transition: background-image 0.5s ease-in-out;

}



.meal2_grp {
    margin: 100px;
    position: relative;
    bottom: -9%;
    width: 75%;
}



hr {
    background-color: white;
   
}

.meal4_grp {
    margin: 100px;
    position: relative;
    top: 10%;
    width: 90%;
}

.meal3_grp {
    position: relative;
    bottom: -100px;
    right: -40%;
    width: 55%;
}

.meal1 {
    
    background-image: url(../images/image-30@1x.jpg);
    background-position: top;
    background-color: rgba(0, 0, 0, 0.486);
    background-blend-mode: overlay;

    
    
}

.Accordion {
    position: relative;
    top: 252px;
    color: white;
    left: 830px;
    height: fit-content;
    width: fit-content;
    color:white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;   

}

.Skills button, .Work button, .Passions button {
    color:white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px; 
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;  
}

.padding {
    padding: 10px 20px;
}

.toggleContainer {
    display: none;
    transition: all;
    margin-top: 8px;
  }

.active {
    display: flex;
    flex-direction: column;
    
  }

ul {
    list-style-type: none;
}

.meal4 {
   
    background-image: url(../images/Bitmap.png);
    transition: background-image 0.5s ease-in-out;

}

.intouch h1 {
    margin: 0px;
}

.text {
    
    width: 50%;
    padding: 20px 40px;

    color: white;
}

#text2  {
    
    width: 75%;
    color: white;
    
}

#text4 {
    width: 70%;
    color: white;
}
#text3 {
    width: 100%;
    color: white;
    }

    

.text1 {
    
    width: 60%;
    margin-left: 5%;
    position: absolute;
    color: white;
    top: 250px;

}
.icons {
    display:flex;
    justify-content: space-between;
    width: 200px;

}

.Accordion h1 {
    font-size: 30px;
    padding: 1px 45px;
    color: yellow;
}

p {
    color:white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

pre {
    color:white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}


.meal2_grp button, .meal3_grp button, .meal4_grp button {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 2px solid #007AFF;
    border-radius: 0px;
    width: 206px;
    height: 63px;
    cursor: pointer;
    transition-duration: .5s ;
}

.meal2_grp button:hover {
    background-color: #007AFF;
}

.meal3_grp button:hover {
    background-color: #007AFF;
}

.meal4_grp button:hover {
    background-color: #007AFF;
}

/* Footer Styles */

/* Mobie Screen */
.left a {
    display: flex;
    /*flex-direction:column;*/
    flex-wrap: wrap;
}

.hamburger {
    display: none;
    margin-right: 20px;
    font-size: 60px;

}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: black;
    top: 0;
    display: flex;
    align-items: center;
  
  }
  
  .preloader h1 {
    color: white;
    margin: 0 auto;
  }

@media (max-width:720px) {
    

    .text1 {
        top: 200px;
        width: 85%;

    }

    .Accordion {
        display: none;  
    }

    .hamburger {
        display: inline-flex;
        margin-right: 20px;

   
    }

    
    .right a {
        display: none;
        }

    .meal2_grp {
        
        bottom: -10%;
        width: 90%;
        margin-left: 5%;
        
    }
    .meal3_grp {
        right: -5%;
        width: 70%;
        background-size: 25%,25%;
    }
    .meal4_grp {
        margin: 5%;
        top: 4%;
    
    }
    

    .Footer_stuff p {
        font-size: 14px;
    }
    .Footer_stuff p2 {
        font-size: 11px;
    }
}

@media (max-width:500px) {
    

    .text1 {
        top: 180px;
        width: 85%;


    }
    h1 {
        font-size: 25px;
    }
    
    .meal2_grp {
        
        width: 95%;
        
        
    }
    .meal3_grp {
        
        width: 70%;
        
    }
    
    .Footer_stuff p {
        font-size: 12px;
    }
    .Footer_stuff p2 {
        font-size: 10px;
    }

  
}
.movingBox {
    animation: movingBox 2s infinite;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background-color: yellow;
    margin-top: -5%;
    
  }


  #animation {
    display: flex;
    height: 250px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -61%;
    bottom: 18%;
  }

  @keyframes movingBox {
    from {
      transform: scale(.3, .3);
    }
      50% {
      transform: scale(.5,.5);
    }
    
    to {
      transform: scale(.3, .3);
    }
  }

  @keyframes preloader {
    from {
      transform: scale(.3, .3);
    }
      50% {
      transform: scale(.5,.5);
    }
    
    to {
      transform: scale(.3, .3);
    }
  }
    